@import "../styles/_colors";

.product__name {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product__price {
  color: $darker-white;
}

.product__price--blue {
  color: $blue;
  font-weight: 600;
  font-size: 0.8rem;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
